body {
    font-family: sans-serif;
    margin: 0%;
}   
header{
    background-color:rgb(60, 196, 78);
    padding: 5%;
}
header h1{
    margin-top: 5%;
    color: white;
    margin-left: 20%;
}
.tete{
    padding: 1%;
    padding-right: 2%;
    padding-left: 2%;
    text-decoration: none;
    background-color: turquoise;
    border-radius: 400px;
    color: black;
    position: absolute;
    margin-left: 82%;
    margin-top: -7%;
}
nav {

    border-top: 5px solid white;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid white;
   
}
.tyty{
    text-decoration: none;
    color: white;
}
footer{
    background-color: rgb(0, 100, 0);
    color: white;
    padding: 1%;
}
.dada{
    color: yellow;
    border-bottom: 20px solid yellow;
    left: 2%;
}
.dade{
    left: 20%;
}
.tyt{
    color: white;
    text-decoration: none;
    position: relative;
    left: 1%;
    top: 380%;
    background-color: rgb(15, 160, 15);
    padding: 1%;
    
}
.fe{
    position: relative;
   color: white;
   background-color: gray;
   margin-left: 5%;
   margin-right: 71%;
   padding: 5%;
   padding-bottom: 20%;

}
.ft{
    position: relative;
    top: -200px;
    left: 10%;

}
.fg{
    color: white;
    background-color: rgb(15, 160, 15);
    text-decoration: none;
    position:relative;
    left: -2%;
    top: -160px;
    padding:1%;
}
.rt{
    color: white;
    background-color: rgb(15, 160, 15);
    text-decoration: none;
    left: -2%;
    top: -180px;
    padding:1%;
    position: relative;
}
.fr{
    position: relative;
    top: -230px;
    left: 10%;
}
.ut{
    position: relative;
    right: -67%;
    top: -1115px;
}
.fy{
   position: relative;
   color: white;
   background-color: gray;
   margin-right: 5%;
   margin-left: 71%;
   padding: 5%;
   padding-bottom: 20%;
   left: -9%;
   top: -930px;

}
.tilo{
    color: white;
    background-color: rgb(15, 160, 15);
    text-decoration: none;
    position:relative;
    right: -55%;
    top: -1106px;
    padding:1%; 
}
.f{
   color: white;
   background-color: gray;
   margin-left: 5%;
   margin-right: 71%;
   padding: 5%;
   padding-bottom: 20%;
   position: relative; 
   left: 57%;
   top: -930px; 
}
.iop{
    color: white;
    background-color: rgb(15, 160, 15);
    text-decoration: none;
    position: relative;
    right: -55%;
    top: -1106px;
    padding:1%; 
}
.iu{
    position: relative;
    right: -66%;
    top: -1156px;
}
